* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

body {
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
}

#profile1 {
    text-align: center;
    padding-top: 24px;
}

#profile2 {
    text-align: center;
    padding-top: 1px;
}

#img-profile {
    width: 112px;
    margin: auto;
}

#img-logo-codigoF {
    width: 200px;
    margin: auto;
}

#profile, p {
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
}

span {
    font-size: 20px;
}

ul {
    margin-top: 20px;
}

ul li {
    text-align: center;
    list-style: none;
    padding: 10px;
}